body {
    font-family: "Century Gothic", sans-serif;
    background-color: #b2b2b2;
    text-align: center;
}
#banner {
    filter: drop-shadow(0px 5px 5px #000000);
}
h1 {
    text-decoration: underline;
    font-size: 35px;
}
h2 {
    text-decoration: underline;
}
h3 {
    font-weight: normal;
}